.App{
    background-color: #040d16;
    font-family: "Parkinsans", sans-serif;
    font-size: 16px;
    color: #F4F4F4;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.clearButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
}


//Header Styles
.headerContainer{   
    position: relative;
    z-index: 10;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #0C2B4E;
    background: linear-gradient(124deg, #0C2B4E, #0d1961);
    box-shadow: 0 0 10px #000000;
    padding: 0rem 1rem;
    width: 100%;
    box-sizing: border-box;


    .companyContainer{
        display: flex;
        align-items: center;
        padding: .7rem 1rem;
        .naviLogo{
        width: 2rem;
        }
    }
    .userInfoContainer{
        display: flex;
        flex-direction: row;
        padding-right: .5rem;
        gap: 1rem;
    }

    .searchBarBody{
        display: flex;
        flex-direction: row;
        padding: .3rem 1rem;
        width: 9rem;
        background-color: #060f41;
        align-items: center;
        justify-content: space-between;
        border-radius: 1rem;
        
        .searchBarText{
            margin: 0;
            background-color: transparent;
            color: #F4F4F4;
            border: none;
            width: 8rem;

            &:focus{
                outline: none;
            }
        }

        .naviIcon{
            width: 1.2rem;
        }
    }
}

//Aside Styles
.leftMenuContainer{
    flex-shrink: 0;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: #061424;
    padding-left:1rem;

    .lMenuTitle{
        display: flex;
        padding-left: 1rem;
        font-size: 1.7rem;
        color: #5e6cec;
        cursor: default;
    }

    .lMenuButton{
        text-decoration: none;
        display: flex;
        align-items: center; 
        gap: .8rem; 
        background-color: #061424;
        border: none;
        cursor: pointer;
        border-radius: .5rem;
        color:#F4F4F4;
        font-weight: 650;
        font-size: .8rem;
        padding: .4rem;
    }

    .lMenuButton:hover{
        background: linear-gradient(124deg, #061424, #0d1961);
        font-weight: 750;

    }

    .libraryContainer{
        display: flex;
        flex-direction: column;
    }

    .playlistContainer{
        display: flex;
        flex-direction: column;
        
        .lMenuIcon{
            width: 1.8rem;
            border-radius: .8rem;
            padding: .5rem;
        }

        .lMenuSubIcon{
            width: 1.3rem;
            height: 1.3rem;
            border-radius: .2rem;
            overflow: hidden;
            margin-left: 1.5rem;
        }
    }

}

//MainBody Styles
.mainContainer{
    overflow: hidden;
    flex: 1;
    position: relative;
    display: flex;
    width: 100%;
    .mainContentContainer{  
        padding: 1rem 1.5rem;
        flex: 1;
        height: 100%;
        overflow-y: auto;
        box-sizing: border-box;

        .contentTitleContainer{
            display: flex;
            flex-direction: row;
            padding-bottom: 2rem;

            .playlistThumbnail{
                width: 18rem;
                border-radius: 1rem;
            }

            .playlistText{
            width: 50rem;
            padding: 0rem 1rem;
            }
        }
    }
}

//Songs component styles
.songListGrid{
    width: 100%;

    .songListItem{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: .05fr 2fr .5fr .5fr .2fr;
    cursor: default;

    .songInfo{
        margin: .8rem 0;
        }
    }
}

//Player Styles
.player{
    flex: 0;
    z-index: 20;
    flex-shrink: 0;
    display: flex;
    padding: .7rem 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: #1A3D64;
    width: 100%;
    box-sizing: border-box;

    .playerSongInfo{
        display: flex;
        height: 4rem;
        align-items: center;
        gap: .6rem;

        .playerThumbnail{
            width: 4rem;
            border-radius: .2rem;
        }
    }

    .songText{
    margin:0.2rem 0;
    font-size: .8rem;
    }

    
    .playerMainContainer{
        display: flex;

        .timer{
            display: flex;
            font-size: .8rem;
            align-items: flex-end;
            margin: 0;
            padding: 0 1rem;
        }
        
        .playerButtons{
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            width: 40rem;
            border-bottom: 3px solid #ffffff;
            padding: .8rem 1rem;
            margin-bottom: .4rem;
        }
        .volumeButton{
            padding-right: 1rem;
        }
    }
}

//Home Styles
.homeContainer{
    padding: 0rem;
    h1{
        margin: 0;
    }
}

.songListGridContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 1rem;
}

.mainSongListItem{
    display: flex;
    flex-direction: column;
    &__thumbnail{
        width: 23rem;
        border-radius: 1rem;
    }
    &__songTitle{
        font-size: 1rem;
        margin: 0;
        font-weight: 550;
        padding: .5rem 0rem;
    }
    &__songArtist{
        margin: 0;
        font-size: .9rem;
        font-weight: 300;
    }
}

.songListItem{
    display: flex;
    flex-direction: column;
    &__thumbnail{
        width: 18rem;
        border-radius: 1rem;
    }
    &__songTitle{
        font-size: .9rem;
        margin: 0;
        font-weight: 550;
        padding: .5rem 0rem;
    }
    &__songArtist{
        margin: 0;
        font-size: .8rem;
        font-weight: 300;
    }
}

//Estilos para la busqueda
.searchTitle{
    color: #ffcb8f;
}

.searchResultAlbum{
    width: 13rem;
    
    &__thumbnail{
        width: 13rem;
        border-radius: .3rem;
    }
    &__title{
        margin: 0;
        font-weight: 650;
        font-size: 1.2rem;
    }
    &__album{
        margin: 0;
        font-size: 1rem;
    }
}

.ResultContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;

    &__title{
        color: #aab7fd;
        font-size: 2rem;
        margin: 0;
    }

    &__subTitle{
        font-size: 1.2rem;
        margin: 0;
    }

    &__image{
        width: 40rem;
    }

    &__errorText{
        color: #0f2f4f;
        font-size: .7rem;

    }
}

.recentSearchContainer{
    margin-top: 4rem;
    &__grid{
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 2rem
    }
}

//AlbumInfoStyles
.albumInfo{
    &__mainInfo{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding-bottom: 1rem;
    }

    &__thumb{
        width: 20rem;
        border-radius: .5rem;
    }

    &__text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .albumTextTitle{

        margin: 0;
    }

    .albumText{
        margin: 0;
        padding: .3rem 0rem;
    }
}

//Estilos de historial
.historyTitle{
    display: flex;
    gap: 1rem;
}

.noHistory{
    width: 100%;
    text-align: center;
    padding-top: 15rem;
    font-size: .9rem;
    font-weight: 600;
    color: #df9c5d;
}






























