.App {
  background-color: #040d16;
  font-family: "Parkinsans", sans-serif;
  font-size: 16px;
  color: #F4F4F4;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.clearButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.headerContainer {
  position: relative;
  z-index: 10;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #0C2B4E;
  background: linear-gradient(124deg, #0C2B4E, #0d1961);
  box-shadow: 0 0 10px #000000;
  padding: 0rem 1rem;
  width: 100%;
  box-sizing: border-box;
}
.headerContainer .companyContainer {
  display: flex;
  align-items: center;
  padding: 0.7rem 1rem;
}
.headerContainer .companyContainer .naviLogo {
  width: 2rem;
}
.headerContainer .userInfoContainer {
  display: flex;
  flex-direction: row;
  padding-right: 0.5rem;
  gap: 1rem;
}
.headerContainer .searchBarBody {
  display: flex;
  flex-direction: row;
  padding: 0.3rem 1rem;
  width: 9rem;
  background-color: #060f41;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
}
.headerContainer .searchBarBody .searchBarText {
  margin: 0;
  background-color: transparent;
  color: #F4F4F4;
  border: none;
  width: 8rem;
}
.headerContainer .searchBarBody .searchBarText:focus {
  outline: none;
}
.headerContainer .searchBarBody .naviIcon {
  width: 1.2rem;
}

.leftMenuContainer {
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: #061424;
  padding-left: 1rem;
}
.leftMenuContainer .lMenuTitle {
  display: flex;
  padding-left: 1rem;
  font-size: 1.7rem;
  color: #5e6cec;
  cursor: default;
}
.leftMenuContainer .lMenuButton {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #061424;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  color: #F4F4F4;
  font-weight: 650;
  font-size: 0.8rem;
  padding: 0.4rem;
}
.leftMenuContainer .lMenuButton:hover {
  background: linear-gradient(124deg, #061424, #0d1961);
  font-weight: 750;
}
.leftMenuContainer .libraryContainer {
  display: flex;
  flex-direction: column;
}
.leftMenuContainer .playlistContainer {
  display: flex;
  flex-direction: column;
}
.leftMenuContainer .playlistContainer .lMenuIcon {
  width: 1.8rem;
  border-radius: 0.8rem;
  padding: 0.5rem;
}
.leftMenuContainer .playlistContainer .lMenuSubIcon {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 0.2rem;
  overflow: hidden;
  margin-left: 1.5rem;
}

.mainContainer {
  overflow: hidden;
  flex: 1;
  position: relative;
  display: flex;
  width: 100%;
}
.mainContainer .mainContentContainer {
  padding: 1rem 1.5rem;
  flex: 1;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}
.mainContainer .mainContentContainer .contentTitleContainer {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}
.mainContainer .mainContentContainer .contentTitleContainer .playlistThumbnail {
  width: 18rem;
  border-radius: 1rem;
}
.mainContainer .mainContentContainer .contentTitleContainer .playlistText {
  width: 50rem;
  padding: 0rem 1rem;
}

.songListGrid {
  width: 100%;
}
.songListGrid .songListItem {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.05fr 2fr 0.5fr 0.5fr 0.2fr;
  cursor: default;
}
.songListGrid .songListItem .songInfo {
  margin: 0.8rem 0;
}

.player {
  flex: 0;
  z-index: 20;
  flex-shrink: 0;
  display: flex;
  padding: 0.7rem 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: #1A3D64;
  width: 100%;
  box-sizing: border-box;
}
.player .playerSongInfo {
  display: flex;
  height: 4rem;
  align-items: center;
  gap: 0.6rem;
}
.player .playerSongInfo .playerThumbnail {
  width: 4rem;
  border-radius: 0.2rem;
}
.player .songText {
  margin: 0.2rem 0;
  font-size: 0.8rem;
}
.player .playerMainContainer {
  display: flex;
}
.player .playerMainContainer .timer {
  display: flex;
  font-size: 0.8rem;
  align-items: flex-end;
  margin: 0;
  padding: 0 1rem;
}
.player .playerMainContainer .playerButtons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 40rem;
  border-bottom: 3px solid #ffffff;
  padding: 0.8rem 1rem;
  margin-bottom: 0.4rem;
}
.player .playerMainContainer .volumeButton {
  padding-right: 1rem;
}

.homeContainer {
  padding: 0rem;
}
.homeContainer h1 {
  margin: 0;
}

.songListGridContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 1rem;
}

.mainSongListItem {
  display: flex;
  flex-direction: column;
}
.mainSongListItem__thumbnail {
  width: 23rem;
  border-radius: 1rem;
}
.mainSongListItem__songTitle {
  font-size: 1rem;
  margin: 0;
  font-weight: 550;
  padding: 0.5rem 0rem;
}
.mainSongListItem__songArtist {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 300;
}

.songListItem {
  display: flex;
  flex-direction: column;
}
.songListItem__thumbnail {
  width: 18rem;
  border-radius: 1rem;
}
.songListItem__songTitle {
  font-size: 0.9rem;
  margin: 0;
  font-weight: 550;
  padding: 0.5rem 0rem;
}
.songListItem__songArtist {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 300;
}

.searchTitle {
  color: #ffcb8f;
}

.searchResultAlbum {
  width: 13rem;
}
.searchResultAlbum__thumbnail {
  width: 13rem;
  border-radius: 0.3rem;
}
.searchResultAlbum__title {
  margin: 0;
  font-weight: 650;
  font-size: 1.2rem;
}
.searchResultAlbum__album {
  margin: 0;
  font-size: 1rem;
}

.ResultContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.ResultContainer__title {
  color: #aab7fd;
  font-size: 2rem;
  margin: 0;
}
.ResultContainer__subTitle {
  font-size: 1.2rem;
  margin: 0;
}
.ResultContainer__image {
  width: 40rem;
}
.ResultContainer__errorText {
  color: #0f2f4f;
  font-size: 0.7rem;
}

.recentSearchContainer {
  margin-top: 4rem;
}
.recentSearchContainer__grid {
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.albumInfo__mainInfo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 1rem;
}
.albumInfo__thumb {
  width: 20rem;
  border-radius: 0.5rem;
}
.albumInfo__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.albumInfo .albumTextTitle {
  margin: 0;
}
.albumInfo .albumText {
  margin: 0;
  padding: 0.3rem 0rem;
}

.historyTitle {
  display: flex;
  gap: 1rem;
}

.noHistory {
  width: 100%;
  text-align: center;
  padding-top: 15rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #df9c5d;
}/*# sourceMappingURL=app.css.map */